@model CarRent.Models.Car

@{
    ViewData["Title"] = "Adaugă o Mașină Nouă";
}

<div class="main-container">
    <div class="main-content">
        <h1>@ViewData["Title"]</h1>

        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">
                @TempData["ErrorMessage"]
            </div>
        }

        <form method="post" asp-action="AddCar" asp-controller="Cars">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Make">Marcă:</label>
                <input asp-for="Make" class="form-control" required>
                <span asp-validation-for="Make" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model">Model:</label>
                <input asp-for="Model" class="form-control" required>
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearOfFabrication">An:</label>
                <input asp-for="YearOfFabrication" class="form-control" type="number" required>
                <span asp-validation-for="YearOfFabrication" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FuelType">Tip combustibil:</label>
                <select asp-for="FuelType" class="form-control" asp-items="Html.GetEnumSelectList<FuelType>()">
                    <option value="">Selectați...</option>
                </select>
                <span asp-validation-for="FuelType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransmissionType">Transmisie:</label>
                <select asp-for="TransmissionType" class="form-control" asp-items="Html.GetEnumSelectList<TransmissionType>()">
                    <option value="">Selectați...</option>
                </select>
                <span asp-validation-for="TransmissionType" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <input asp-for="IsAvailable" class="form-check-input">
                <label asp-for="IsAvailable" class="form-check-label">Disponibilă</label>
                <span asp-validation-for="IsAvailable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PricePerDay">Preț/Zi:</label>
                <input asp-for="PricePerDay" class="form-control" type="number" step="0.01" required>
                <span asp-validation-for="PricePerDay" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Adaugă Mașină</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}